<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- google fonts -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/font.css') }}">
  <!-- Fontawesome js -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/all.css') }}">
  <!-- custom style css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body background="{{ url_for('static', filename='assets/images/paoz.jpeg') }}" background-repeat="no-repeat” background-size=" cover”>
  <header>
    <!-- navbar -->
    <nav class="navbar fxd-reg">
      <div class="container">
        <div class="brand-and-toggler">
          <a href="{{ url_for('main') }}" class="navbar-brand">
            <img src="{{ url_for('static', filename='assets/images/pawradise.png') }}" alt="logo">
            <h2>Pet Pawradise</h2>
          </a>
          <button type="button" id="navbar-toggler">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li>
              <a href="{{ url_for('main') }}">go back to home</a>
            </li>
            <li>
              <a href="#contact">contact us</a>
            </li>
            <li>
              <a href="{{ url_for('signin') }}">sign in</a>
            </li>
            <li>
              <a href="{{ url_for('adopt') }}">Adopt</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->
  </header>
  <!-- end of header -->

  <!-- register section -->

  <section class="padding-y about" id="about">
    <div class="container box">
      <div class="about-row">
        <div class="about-col-1">
          <!-- <img src="assets/images/pet10.jpeg" alt=""> -->
        </div>
        <div class="col-2">
          <!-- title -->

          <div class="title">
            <h2>Register for Adoption</h2>
            <!-- <p class = "text">any breed</p> -->
            <div class="line center">
              <div></div>
              <span><i class="fas fa-cat"></i></span>
              <div></div>
            </div>
          </div>
          <!-- end of title -->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash-message" >
                <p align="center" class="{{category}}">{{ message }}</p>
                
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
          <div class="contact-row-1">
            <form class="contact-form" action="http://127.0.0.1:5000/register" method="post" enctype="multipart/form-data">
              <!-- <div class="contact-subrow">
                <p align=center ><b>Guardian's Details:</b> </p>
                <input type="text" class="form-control" placeholder="Name" name="Name" required>
              </div> -->
              <!-- <div class="contact-subrow">
                <input type="text" class="form-control" placeholder="Phone" name="Phone" required>
                <input type="email" class="form-control" placeholder="Email" name="Email" required>
              </div> -->
              <div class="contact-subrow">
                <div>
                  <p style="display: inline-block;">Username: </p>
                  <input type="text" name="username" required style="width: 85%; height:29px; border-color: rgb(211, 209, 209);display: inline-block;">
                  <p style="display: inline-block;"><br>Password: </p>
                  <input type="password" name="password" required style="width: 85%; height:29px; border-color: rgb(211, 209, 209);display: inline-block;">
                  <p align=center><a href="{{ url_for('signin') }}" style="color: #d3625a;"><br>Signup</a> if you don't already have an account! </p>
                </div>  
                </div>                
                <p align=center><b> <br>Fill in the pet details below :</b></p>
                <p> Dog/Cat :</p>
                <div class="image-container">
                  <label>
                    <input type="radio" name="pet" value="Dog" required>
                    <img src="{{ url_for('static', filename='assets/images/dog.png') }}" alt="dog">
                  </label>

                  <label>
                    <input type="radio" name="pet" value="Cat" required>
                    <img src="{{ url_for('static', filename='assets/images/cat.png') }}" alt="cat">
                  </label>
                </div>
                <br>
                <p> Name (If it doesn't have a name yet, don't hesitate to give any name you'd like!) :<br><br></p>
                <input type="text" id="petname" name="petname"
                  style="width: 100%; height:29px; border-color: rgb(211, 209, 209);"><br>
                <p><br>Age (Enter estimated age if not sure) :<br><br></p>
                <input type="number" id="age-years" name="age-years" min="0"
                  style="width: 40%; height:29px;box-shadow: none; border-color: rgb(235, 231, 231);" required>
                <label style="font-family:Garamond">years</label>
                <input type="number" id="age-months" name="age-months" min="0"
                  style="width: 40%; height:29px;box-shadow: none; border-color: rgb(235, 231, 231);" required>
                <label style="font-family:Garamond">months</label>
                <br><br>
                <p> Breed :<br><br></p>
                <input type="text" id="breed" name="breed"
                  style="width: 100%; height:29px; border-color: rgb(211, 209, 209);"><br>
                <!-- <input type="text" class="form-control" placeholder="Vaccination Status"  name="Vaccination" required> -->
                <p align=center><br>Vaccination Status<br><br></p>
                <div class="radio-group" style="display: flex; justify-content: space-between; margin-right: 10px;">
                  <label style="font-family:Garamond">
                    <input type="radio" name="vaccination" value="Fully Vaccinated" required>
                    Fully Vaccinated
                  </label>

                  <label style="font-family:Garamond">
                    <input type="radio" name="vaccination" value="Partially Vaccinated" required>
                    Partially Vaccinated
                  </label>

                  <label style="font-family:Garamond">
                    <input type="radio" name="vaccination" value="Not Vaccinated" required>
                    Not Vaccinated
                  </label>
                </div>
                <br>
                <p align=center> State of Residence in India</p><br>
                <select id="state" name="state" style="width: 100%; height:29px; border-color: rgb(211, 209, 209);"
                  required>
                  <option value="" disabled selected></option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="West Bengal">West Bengal</option>
                </select>
                <br><br>
              </div>
              <p align=center> Full Address of the pet / guardian</p><br>
              <textarea rows="2" class="form-control" name="address" id="address" required></textarea>
              <p align=center> Little Introduction of the pet including how you came across it or know it</p><br>
              <textarea rows="3" class="form-control" name="description" id="description"required></textarea>
              <p align=center> Attach image of pet below<br><br></p>
              <input type="file" class="form-control" id='file-input' placeholder="Upload Image of pet" name="image"
                required>
              <img id='preview'>
              <script src="{{ url_for('static', filename='js/preview.js') }}"> </script>
              <div align=center class="g-recaptcha" data-sitekey="6LcePAATAAAAAGPRWgx90814DTjgt5sXnNbV5WaW"></div>
              <br>
              <input type="submit" class="form-submit-btn" value="submit"  >
            </form>
          </div>
        </div>
        <div class="about-col-3">
          <!-- <img src="assets/images/pet12.jpeg" alt=""> -->
        </div>
      </div>
    </div>
  </section>
  <!-- end of register section -->

  <!-- contact section -->
  <section class="padding-y contact" id="contact">
    <div class="contact-info">
      <div class="container">
        <div class="contact-row-2">
          <div class="contact-col-1">
            <h2>Contact Detail <i class="fas fa-paw"></i></h2>
            <ul>
              <li>Indian Institute of Technology, Ropar</li>
              <li>Phone: +91 91237 26566</li>
              <li>Email: adidas15901@gmail.com </li>
              <li>Website: www.pawradise.com</li>
            </ul>
          </div>
          <div class="contact-col-2">
            <h2>Follow Us <i class="fas fa-paw"></i></h2>
            <p class="text">Do check us out on other social media platforms and follow us!</p>
            <ul class="center">
              <!-- <li class = "center">
                  <a href = "#">
                    <i class = "fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class = "center">
                  <a href = "#">
                    <i class = "fab fa-twitter"></i>
                  </a>
                </li> -->
              <li class="center">
                <a href="https://www.linkedin.com/in/aditi-das-517588209/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
              <li class="center">
                <a href="https://www.linkedin.com/in/aditi-das-517588209/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of contact section -->

  <!-- footer -->
  <footer>
    <p class="text">Copyright &copy; Pet Pawradise Website 2023.</p>
  </footer>
  <!-- end of footer -->



  <!-- jQuery -->
  <script src="{{ url_for('static', filename='assets/jquery/jquery-3.6.0.js') }}"></script>
  <!-- Fontawesome js -->
  <script src="{{ url_for('static', filename='assets/fontawesome/all.js') }}"></script>
  <!-- custom js file -->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>
